
ul {
    margin: 0px;
    padding: 3% 0 0 0;
    background-color: #4A649D
}
ul >li{
   list-style: none;
   /* display: table-cell; */
   padding: 0 4% 4% 5%;
   float: right;
   color: #ffffff;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 20px;
   margin: 0px;
   height: 55px;
   font-weight: lighter;
   

   
}
.title {
    text-align: center;
    color:whitesmoke;
    font-size:50px;
}
.words{
    font-size: 16px;
}

p {
    color: whitesmoke;
    margin: 30px 0px 0px 50px;
    justify-content: flex-end;
    

}
a,a:hover {
    color:white;
    cursor: pointer;
    
}

.icon{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 23%;
    margin-right: 23%;
}